/* @import-normalize; bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --dark-text-color:#101828;
  --grey-text-color:#475467;
  --button-color:#E44848;
  --active-button-color:#D84343;
  --stars-color:#FFC531;
  --icon-background:#F2F4F7;
  --input-background:#F7F7F7;
  --background:#FFF;
}

body {
  margin: 0;
  font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        margin: 0;
        color: var(--dark-text-color);
        background-color: var(--background);
        /* transition: background-color var(--easedTransition), color var(--easedTransition); */
        overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}
input:focus{
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
